<div class="container my-4" data-controller="loading">
  <div class="row justify-content-center">
    <div class="forms">
      <%= simple_form_for [invoice], html: { class: 'custom-form' }, multipart: true do |f| %>
        <h1 class="text-start mb-4 ">Déposez une facture</h1>
        <%= f.input :file, as: :file,
                    label: "Déposer ma pièce jointe" %>
        <div id="pdf-info" style="display: ">
            <%= f.input :comment, label: "Commentaires"%>
        </div>
        <div class="d-flex justify-content-end">
        <%= f.submit "Dépose ta facture", class: "btnn btn-square btn-medium  btn-purple my-3 ", data: { action: "click->loading#loadmodal" } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%# <div class="modal" id="modal-loading" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="loading-spinner mb-2"></div>
        <div>En cours de lecture par les robots de l'agence Surviv.Ai</div>
      </div>
    </div>
  </div>
</div> %>
<!-- Modal -->
