<h1>Tableau de bord</h1>

<div class="container mt-4">
  <h2>Analyses des débiteurs</h2>x
  <% @debtor_analyzers.each do |debtor_analyzer| %>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Analyses pour <%= debtor_analyzer.debtor.company_name %></h5>
        <p class="card-text">
          Montant moyen des factures : <strong><%= debtor_analyzer.average %> EUR</strong>
          <i class="fas fa-coins ml-2"></i>
        </p>
        <p class="card-text">
          Montant total des factures impayées : <strong><%= debtor_analyzer.unpaid_amount %> EUR</strong>
          <i class="fas fa-exclamation-triangle ml-2"></i>
        </p>
      </div>
    </div>
  <% end %>
</div>
