
<div class="notification">
  <div class="notification-content d-flex justify-content-center align-items-center">
  <i class="fa-solid fa-bell fa-xl px-3"></i>
  <div>
    <h3>Vous avez reçu une nouvelle facture</h3>
    <p>Rechargez la page pour voir votre nouvelle encour.</p>
    </div>
    <%= link_to '', invoice_path %>
  </div>
