
<div class="bg-hp">
  <h1>Decouvrez Surviv.ai</h1>

</div>

<div class="first-section">
  <div class="row content-section">
    <div class="col-6 first-section-content">
      <div class="container ms-3">
        <div >
          <h2 >EXTERNALISER VOS IMPAYÉS</h2>
          <p class="my-5">L’AGENCE DIGITALE DE <br>
          RECOUVREMENT D’IMPAYÉS</p>
          <button class="btnn btn-round btn-medium btn-purple btn-small">Découvrir plus</button>
        </div>
      </div>
    </div>
    <div class="col-6 youtube-video">
      <iframe width="420" height="250" class="youtube"
      src="https://www.youtube.com/embed/r-z5liGjNOg">
      </iframe>
    </div>
  </div>
</div>

<div class="linear">
</div>

<div class="second-section">
  <div class="row content-section">
    <div class="col-6 img-graph">
      <%= image_tag("graph.png", :class => "style_image" )%>
    </div>
    <div class="col-6 first-section-content">
      <div class="container ms-3">
        <div >
          <h2 >CONTROLER VOTRE TRÉSORERIE</h2>
          <p class="my-5">AGISSEZ SUR VOS IMPAYÉS <br>AVANT QU’IL NE SOIT TROP TARD</p>
          <button class="btnn btn-round btn-medium btn-blue btn-small">Découvrir plus</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="linear-b">
</div>


<div class="third-section">
  <div class="row content-section">
    <div class="col-4">
       <div class="third-section-content container">
          <div class="icons">
            <i class="fa-solid fa-file-invoice fa-6x" style="color: #081325;"></i>
          </div>
          <div class="info-title">
          <h2 class="mt-3">UNE VISION CLAIRE</h2>
          </div>
          <div class="description-info">
          <p class="my-3 text-center">Nous aspirons à transformer l'industrie du recouvrement en privilégiant des approches empathiques et respectueuses.</p>
          </div>
          </div>
    </div>
      <div class="col-4">
         <div class="third-section-content container">
          <div class="icons">
            <i class="fa-solid fa-heart fa-6x" style="color: #081325;"></i>
          </div>
          <div class="info-title mt-3">
            <h2 class="mt-3">DES RELATIONS CONSERVÉES</h2>
          </div>
          <div class="description-info">
            <p class="my-3  text-center">Nous nous engageons à rétablir la confiance dans ce processus grâce à la transparence, l'intégrité et la collaboration.</p>
          </div>
          </div>
    </div>
      <div class="col-4">
      <div class="third-section-content container">
          <div class="icons">
            <i class="fa-solid fa-user fa-6x" style="color: #081325;"></i>
          </div>
          <div class="info-title">
            <h2 class="mt-3">UNE AGENCE A VOTRE ÉCOUTE</h2>
          </div>
          <div class="description-info">
            <p class="my-3 text-center">Notre objectif est de maintenir des relations durables avec nos clients grâce à des solutions personnalisées.</p>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="linear-c">
</div>

<div class="footer">
  <div class="row content-section">
    <div class="col-5 link-list">
      <ul>
        <li>
          <button class="footer-btn">Nos tarifs </button>
        </li>
        <li>
          <button class="footer-btn"> Nos Solutions </button>
        </li>
        <li>
          <button class="footer-btn"> Notre histoire</button>
        </li>
        <li>
          <button class="footer-btn">Nous contacter</button>
        </li>
      </ul>
    </div>
    <div class="col-2 first-section-content">
      <div class="container ms-3">
          <%= image_tag("logo_survivai.png", :class => "style_image" )%>
      </div>
    </div>
    <div class="col-5 d-flex" >
      <div class="container ms-3 d-flex align-items-center">
        <div class="social-media">
        <button  class="footer-btn">
          <i class="fa-brands fa-linkedin fa-2x fa-hover" style="color: #90CBFE;"></i>
        </button>
        <button  class="footer-btn">
          <i class="fa-brands fa-instagram fa-2x" style="color: #90CBFE;"></i>
        </button>
        <button  class="footer-btn">
          <i class="fa-brands fa-twitter fa-2x" style="color: #90CBFE;"></i>
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
