<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
<div class="d-flex flex-column">
<a href="" class="btnn btn-round btn-purple btn-medium btn-strong">click me </a>

<a href="" class="btnn btn-round btn-purple btn-small">click me </a>

<a href="" class="btnn btn-round btn-purple btn-medium">click me </a>

<a href="" class="btnn btn-round btn-purple btn-large">click me </a>

<a href="" class="btnn btn-round btn-blue btn-large">click me </a>

<a href="" class="btnn btn-round btn-beige btn-large">click me </a>

<a href="" class="btnn btn-round btn-white btn-large">click me </a>
</div>

  <div class="cards">
    <div class="card card-white">
    <h5>Allan</h5>

    <p>Date de l’échéance :</p>
    <p>31/11/23</p>

    <p>Montant de la facture :</p>
    <p>17 000.00€</p>

    <p>Numéro de Facture :</p>

    <p>INV0123</p>

    <a href="" class= "btnn btn-round btn-small btn-blue">See more information</a>


    </div>

    <div class="card card-beige">
      <h5>Allan</h5>

      <p>Date de l’échéance :</p>
      <p>31/11/23</p>

      <p>Montant de la facture :</p>
      <p>17 000.00€</p>

      <p>Numéro de Facture :</p>

      <p>INV0123</p>

      <a href="" class= "btnn btn-round btn-small btn-blue">See more information</a>


    </div>

    <div class="card card-purple">
      <h5>Allan</h5>

      <p>Date de l’échéance :</p>
      <p>31/11/23</p>

      <p>Montant de la facture :</p>
      <p>17 000.00€</p>

      <p>Numéro de Facture :</p>

      <p>INV0123</p>

      <a href="" class= "btnn btn-round btn-small btn-beige">See more information</a>


    </div>

    <div class="card card-blue">
      <h5>Allan</h5>

      <p>Date de l’échéance :</p>
      <p>31/11/23</p>

      <p>Montant de la facture :</p>
      <p>17 000.00€</p>

      <p>Numéro de Facture :</p>

      <p>INV0123</p>

      <a href="" class= "btnn btn-round btn-small btn-beige">See more information</a>


    </div>

    <div class="card card-grey">
      <h5>Allan</h5>

      <p>Date de l’échéance :</p>
      <p>31/11/23</p>

      <p>Montant de la facture :</p>
      <p>17 000.00€</p>

      <p>Numéro de Facture :</p>

      <p>INV0123</p>

      <a href="" class= "btnn btn-round btn-small btn-blue">See more information</a>


    </div>

  </div>

  <div class="card-flat border card-large card-round card-white">

      <h5>DSO</h5>
    <div class="card-content">
      <div class="card-info ">
        <p>DSO moyen: 30 jours</p>
        <p>DSO Retard: 45 Jours</p>
        <p>Moyenne retard: 25% </p>
      </div>
      <div class="card-tab">
        <%= image_tag "dso.png" %>
      </div>
    </div>
  </div>

  <div class="card-flat card-medium card-square card-white">

    <div class="card-content">
      <div class="card-info ">

        <h4>35%</h4>
        <p>Moyenne retard </p>
      </div>
      <div class="card-tab">
        <%= image_tag "dso.png" %>
      </div>
    </div>
  </div>


  <div class="card-flat card-smaller card-square card-white card-square">


    <div class="card-content">
      <div class="card-info ">

        <h4>85%</h4>
        <p>DSO </p>
      </div>
      <div class="card-tab">
        <%= image_tag "dso.png" %>
      </div>
    </div>
  </div>

</div>
