.btn-round{
  border-radius: 16px;
}
.btn-square{
  border-radius: 3px;
}
.btnn {
  text-decoration: none;
  text-shadow: 0px 0px 1px white;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  border: none;
  font-family: 'Montserrat', sans-serif;

}

.btnn-modal{
  text-decoration: none;
  box-shadow: 0px 0px 1px black;
  text-shadow: 0px 0px 1px white;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  border: none !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  width: 72px !important;
  border-radius: 3px;
  background-color: rgba(233,233,233,.3);

  &:hover{
    background-color: rgba(233,233,233,.9);
    font-weight: 600;
    transition: 0.5s;
  }


}
.btn-blue {
background-color: #90CBFE;
color: black;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
 &:hover {
  background-color: black;
  color: #90CBFE !important;
  transition: 0.5s;

 }
}

.btn-purple {
  background-color: #D1D4FF;
  color: black;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

   &:hover {
    background-color: black;
  color: #D1D4FF;
  transition: 0.5s;
   }
  }

.btn-beige {
  background-color: #FEEFE7;
  color: black;
    &:hover {
    background-color: #E5EEFE;
    transition: 1s;

    }
  }

  .btn-white {
    background-color: #FFFFFF;
    border: 1px solid #D1D4FF;
    color: black;
      &:hover {
      background-color: #F0F1F1;
      transition: 1s;

      }
    }



.btn-strong {
    font-weight: bold;
    }

.btn-small {
  font-size: 20px;
  width: 7em;
}

.btn-medium {
  font-size: 20px;
  width: 15em;
  height: 40px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.btn-large {
  font-size: 20px;
  width: 25em;
}

.btn-select-index {
  background-color: purple !important;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 16px;
}

.btnn-index {
  text-decoration: none;
  background-color: #E5EEFE;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  border: none;
  text-align: start;
}
