.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 3px;
width: 350px;
height: 350px;
margin: 16px;
text-align: center;
padding-left: 16px;
padding-right: 16px;
padding-top: 0px;
padding-bottom: 16px;
z-index: 1;
overflow: hidden;
}

.card-invoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3px;
  width: 350px;
  height: 350px;
  margin: 16px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  padding-bottom: 16px;
  z-index: 1;
  overflow: hidden;
  position: relative;
  }

.card-grey {
  background-color: #F0F1F1;
}


.card-blue {
  background-color: #90CBFE;
  }

.card-purple {
  background-color: #D1D4FF;
  }

.card-beige {
  background-color: #FEEFE7;
  }

.card-white {
  background-color: #FFFFFF;
  }


  @media (min-width: 390px) {
    .cards {
        grid-template-columns: 1fr ;}
    }
@media (min-width: 600px) {
  .cards {
      grid-template-columns: 1fr;}
  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 990px) {
  .cards {
      grid-template-columns: 1fr 1fr;}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .cards {
      grid-template-columns: 1fr 1fr 1fr;}
}

.content-card-between {
  display: flex;
  justify-content: space-between;

}
.middle-card {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8px;

}

.card-show-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  width: 250px;
  height: 400px;
  margin: 16px;
  text-align: center;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1;
  background-color: white;
  }

  .text-blue-light {
    color: #90CBFE;
  }

.border-blue-light {
  margin: 0px;
  width: 95%;
  border-bottom: 1px solid #90CBFE;
}

.num-invoice{

    font-size: 13px;

}

.date {
  display: flex ;
}
.btn-card {
  position: absolute;
  bottom: -2.5%;
  border-radius: 50px 1px 3px 0px;
  right: 0%;
  border: none;
  width: 140px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: #071425;

  }
}
.top-card {
  z-index: 100;
}
.encour-size{
  font-size: 22px;
}

.retard {
  display: flex ;
}
