.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.card {
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid black;
border-radius: 8px;
width: 300px;
box-shadow: 1px 1px 2px black;
margin: 16px;
text-align: center;
padding: 8px;
padding-top: 16px;
padding-bottom: 16px;
}

.card-grey {
  background-color: #F0F1F1;
}


.card-blue {
  background-color: #90CBFE;
  }
.card-purple {
  background-color: #D1D4FF;
  }

.card-beige {
  background-color: #FEEFE7;
  }

.card-white {
  background-color: #FFFFFF;
  }


  @media (min-width: 390px) {
    .cards {
        grid-template-columns: 1fr ;}
    }
@media (min-width: 600px) {
  .cards {
      grid-template-columns: 1fr;}
  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 800px) {
  .cards {
      grid-template-columns: 1fr 1fr;}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .cards {
      grid-template-columns: 1fr 1fr 1fr;}
}
