.card-flat {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  width: 600px;
  height: 250px;
  box-shadow: 1px 1px 2px black;
  margin: 16px;
  text-align: center;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
    img {
      width: 300px;
      border-radius: 16px;
    }
  }

  .card-content {
    display: flex;
    justify-content: space-between;
  }
