.icon-manual {
  height: 85px;
  width: 15px;
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
   /* Set the default background color to transparent */
  top: -5%;
  left: 5%;
  transform: rotate(45deg);
  overflow: clip;


}
.shadow-icon{
box-shadow: 1px 2px 3px black;
}


.bg-color-black {
  background-color: black;
}

.bg-color-blue {
  background-color: blue;
}

.bg-color-yellow {
  background-color: yellow;
}

.bg-color-red {
  background-color: red;
}
