.form-control{
  #board_photos{
  background-color: black;
 }
}
.forms {


 .form-control, .ts-control {
background-color: white;
border: 1px solid black;
border-radius: 0px;
width: 120%;
  .text {
    color: #8195f8;
  }
 .board_photos {
  background-color: black;
 }
 }
}
.btn-square-filter {
  margin: 8px;
  border-radius: 0px 10px 10px 0px !important;
}

.bg-white{
  background-color: white;
  border-radius: 10px;
}

.search-bar
{
  margin-left: 20px;
  margin-top: 8px;
  top: 1000px;

  border-radius: 10px;
  width: 1140px;


  .btn-blue.btn-blue {
  background-color: #90CBFE;
  border: none;
  border-radius: 10px;
  width: 150px;
  padding: 12px 20px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  margin: 0px;
}
 .form-control {
  border: none;
  border-radius: 10px;

  background-color: white;
  color: #90CBFE;

 }
.btnn:hover{
  background-color: #D1D4FF;
}

::placeholder {
  color: #90CBFE;
}

}


.search-bar-archives
{
  margin-left: 38px;
  margin-top: 8px;
  top: 1000px;

  border-radius: 10px;
  width: 1140px;


  .btn-blue.btn-blue {
  background-color: #90CBFE;
  border: none;
  border-radius: 10px;
  width: 150px;
  padding: 12px 20px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  margin: 0px;
}
 .form-control {
  border: none;
  border-radius: 10px;

  background-color: white;
  color: #90CBFE;

 }
.btnn:hover{
  background-color: #D1D4FF;
}

::placeholder {
  color: #90CBFE;
}

}
.forms-edit {
  width: 100%;
  margin-right: 6px;
}

.size-form{
  width: 100%;
  justify-content: center;
  align-items: center;
}

.offcanvas-body {
  padding: 4px;
  padding-top: 0px;
  display: flex;
  margin-left: 24px;
}

.canva-size {
  width: 600px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
