// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "card";
@import "sidebar";
@import "font-icons";
@import "sticky";
body{
  background-color: white;
}

.app-show {

  display: flex;
}
.body-app{
  width: 100vw;
}
