// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "card";
@import "sidebar";
@import "font-icons";
@import "sticky";
@import "reminder";
@import "card-dash";
@import "show";
@import "form";
@import "show";
@import "filter";
@import "canva-blue";
@import "graph";
@import "text_color";
@import "bg-homepage";
@import "content-section";
@import "row-index";
@import "choice";

body{
  background-color: #E5EEFE;
}

.app-show {

  display: flex;
}
.body-app{
  width: 100vw;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', sans-serif;
  }
  p, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }
