.loading-spinner{
  width:70px;
  height:70px;
  border:4px solid indigo;
  border-radius:50%;
  border-top-color:#0001;
  display:inline-block;
  animation:loadingspinner .7s linear infinite;
}
@keyframes loadingspinner{
  0%{
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
  }
}

#staticBackdrop {
  > .modal-dialog {
    z-index: 10000;
    border-radius: 5px;
    background-color: #90CBFE;
    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
