.navbar {
  display: flex;
  z-index: 1000;
}
.navbar-lewagon {
  justify-content: space-between;
  background: #081325;


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-link {
  color: white;
  &:hover {
    color: #90CBFE;
  }
}
