.notification {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1000000;
  animation: fadeInDown;
  animation-duration: 1s;
}

.notification-content {
  text-align: center;
}

.notification h3 {
  font-size: 18px;
  margin-bottom: 0px;
}

.notification p {
  font-size: 14px;
  margin: 0;
}
