.info-reminders{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0);
  max-width: 1075px;
  margin: 0px;
}

.title-reminders {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
