.sidebar {
  height: 110%;
  display: flex;
  background-color: #081325;
  justify-content: center;

  width: 75px;

  .container-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

}
.top {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-between;
}

.bottom {

  margin-bottom: 16px;

  .avatar {
    width: 55px;
  }
}
.link-navbar-space {
  display: flex;

}


.navbar-brand img {

  width: 50px;
}
