.sidebar {
  height: 100%;
  display: flex;
  background-color: #081325;
  justify-content: center;

  width: 75px;

  .container-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

}

.link-navbar-space {
  display: flex;

}


.navbar-brand img {

  width: 50px;
}
